
	
{% extends 'base.html'%}
{% load static%}
{%block title%}WEB RADIO TV{%endblock%}
 {% block style%}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">



	<link rel="stylesheet" type="text/css" href="{% static 'css/about1.css'%}">


    {% endblock%}
{%block content%}


 <div class="titre_about">
 	<h1>About <span>Us</span></h1>
 	<p>Ce site est un canal pour pour faire passer des informations en rapport avec des emissions TV, des emissions Radio et notamment des sequences de reportage, de divertissement et de sciences, il y a aussi un atelier graphique qui à travers ses plus beaux logos, posters et flyers vous émerveillerons</p>
 </div>
 <section class="about">
 	<div class="about1">
 		<img width="100%" src="{% static 'img/image1.jpg'%}">
 	</div>
 	<div class="about2">
 		<h1>Qui sommes nous?</h1>
 		<p>La vocation de l'Institut de Formation et de Recherche en Informatique (IFRI) de l'Université d'Abomey-Calavi est de former des apprenants capables de devenir des acteurs de solutions informatiques aux différents problèmes de société en s'appuyant sur les récents développements des Technologies de l'Information et de la Communication. Les performances des étudiants de l'IFRI font parler de l'Institut au plan national qu'international. Les multiples distinctions enregistrées au fil des années sont très illustratives. Championne en 2014 puis en 2016 au concours national de programmation, l'équipe de l'IFRI a occupé la deuxième place en 2015. Sur plus de cent (100) équipes sélectionnées de plusieurs pays de la sous-région participant au concours organisé par la société MAPCOM, l'équipe de l'IFRI a fini 5ème . Troisième au concours Innovaton organisé par la fondation HOUNGBEDJI en 2017, elle a gagné la totalité des 4 bourses d’études en Chine offertes par la même fondation en 2018.

			.</p>
 	</div>
 </section>
 <section class="equip">
 	<h1>Notre équipe</h1>

 	<div class="container">
		  <div class="grid">

		      <div class="item">
		      	<div class="imag" style="background-image: url({% static 'img/princeg.jpg'%});"></div>
		      	<h1>GUEDJE Prince Gédéon</h1>
		      	<h2>Développeur Python | ML Ing. Junior </h2>
		      </div>
		      <div class="item">
		      	<div class="imag" style="background-image: url({% static 'img/fari.jpg'%});"></div>
		      	<h1>ZANNOU Farihane</h1>
		      	<h2>Développeur Web Full stack</h2>
		      </div>

		       
		  </div>
		</div>
 	
 </section>



    {% endblock%}