{% extends 'base.html'%}
{% load static%}
{%block title%}WEB RADIO TV{%endblock%}
 {% block style%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/video.css'%}">
    {% endblock%}
{%block content%}
<div class="video_layout">
 	<div class="video">
 		<img width="100%"  src="{{video.visuel.url}}"  allowfullscreen></img>
       <br>
       <h2>{{video.title}}</h2>
       <p>
       	<span>{{video.type}}</span> -
       	<span class="date">{{video.date_created}}</span>
       	<a href=""><span class="heart"><i class="fa-solid fa-heart"></i></span></a>

       </p>
       <br>
       <hr>
       <h4>Posté par <a href="{%url 'get_profil' video.user.id%}">{{video.user.pseudo}} {{video.user.first_name}}- {{video.user.username}}</a></h4>
       <h5>Description</h5>
       <p>{{video.desc}}</p>
       <br>
       <hr>
		{% if user.is_authenticated%}
       <form class="formulaire" method="post">
		   {% csrf_token%}

		    <textarea placeholder="Ajouter un commentaire" name="content"></textarea>
		    <input class="commentButton" type='submit' value='Valider' />
		  </form>
		{% endif%}
       <div class="panel-header">
		  <span id="panel-title"> Commentaires </span>
		  <span class="counter"> {{comments.count}} </span>
		</div>

		<div class="panel-collapse">
			{% for comment in comments%}
		  <div class="comment">
		    <div class="comment-header">
		      <img class="icon" src="{{comments.user.image}}"/>
		      <span>Par <a href="{% url 'get_profil' comment.user.id %}">{{comment.user.username}}</a>  </span>
		      <small> {{comment.date}}</small>
		   </div>
		   <div class="comment-text">
		    {{comment.message}}
		   </div>
		  </div>
			{% endfor%}

		</div>

 	</div>
 	<div class="liste">
		{% for video in video_cats%}
 		<div class="vid_card">
 			<div class="vid_image">
				<a href="{% url 'detail_image' video.slug%}"><img width="80%" src="{{video.visuel.url}}"></a>
	 		</div>
	 		<div class="vid_texte">
	 			<a href="{% url 'detail_image' video.slug%}"><h3>{{video.title}}</h3></a>
	 			<p>Posté par {{video.user.username}}</p>
	 			<!--<p>10000 vues</p>
	 			<p>100 <i class="fa-solid fa-heart"></i></p>-->
	 		</div>
 		</div>

		{% endfor%}


 	</div>






 </div>
{% endblock%}