{% extends 'base.html'%}
{% load static%}
{%block title%}WEB RADIO TV | {%endblock%}
 {% block style%}
		<link rel="stylesheet" type="text/css" href="{% static 'css/filter.css'%}">
    {% endblock%}
{%block content%}

 <div class="card">
    <button class="accordion">Rechercher</button>
    <div class="panel">
         	<form class="filter">
		<div class="grand_bar">
			<label>Search</label><br>
			<input id="search" type="text" name="search" placeholder="Que voulez-vous chercher">
		</div>
		<div class="option_bar">
			<div class="option_bar1">
				<label>Facteur</label><br>
				<select name="">
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
				</select>
			</div>
			<div class="option_bar2">
				<label>Facteur</label><br>
				<select name="">
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
				</select>
			</div>
			<div class="option_bar2">
				<label>Facteur</label><br>
				<select name="">
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
				</select>
			</div>
		</div>
		<div class="option_bar">
			<div class="option_bar1">
				<label>Types</label><br>
				<select name="">
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
				</select>
			</div>
			<div class="option_bar2">
				<label>Catégorie</label><br>
				<select name="">
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
				</select>
			</div>
			<div class="option_bar3">
				<input type="submit" name="" value="Search">
			</div>
			
		</div>
		
	</form>
    </div>
   
  </div>

	

	<br>
		<hr>
		<section >
		<div class="main-container">
			<ul class="grid-wrapper">
				<li class="content-item">
					<div class="pic">
					    <a href="video.html"><img width="100%" src="img/image1.jpg"></a>
					    <a href="video.html" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href="video.html"><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
				<li class="content-item">
					<div class="pic">
					    <a href=""><img width="100%" src="img/image1.jpg"></a>
					    <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href=""><h3>titre de la vidéo</h3></a>
					</div>
				</li>
					
			</ul>
			 
		</div>
	</section>


{% endblock%}
{% block js%}
<script type="text/javascript">

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("activee");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
<script type="text/javascript" src="js/script.js"></script>
{%endblock%}