{% extends 'base.html'%}
{% load static%}
{%block title%}WEB RADIO TV | {%endblock%}
 {% block style%}
		<link rel="stylesheet" type="text/css" href="{% static 'css/filter.css'%}">
    {% endblock%}
{%block content%}

 <div class="card">
    <button class="accordion">Rechercher</button>
    <div class="panel">
         	<form class="filter" >
		<div class="grand_bar">
			<label>Search</label><br>
			<input id="search" type="text" name="search" placeholder="Que voulez-vous chercher">
		</div>
		<div class="option_bar">
			<div class="option_bar1">
				<label>Catégories</label><br>
				<select name="categorie">
					<option value="0">Categories</option>
					<option value="option1">Option1</option>

				</select>
			</div>
			<div class="option_bar2">
				<label>Types</label><br>
				<select name="type">
					<option value="0">--Type---</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
					<option value="option1">Option1</option>
				</select>
			</div>
			<div class="option_bar2">
				<label>Trier</label><br>
				<select name="">
					<option value="0">---Tri---</option>
					<option value="1">Ordre alphabétique croissant</option>
					<option value="2">Ordre alphabétique décroissant</option>
					<option value="3">Popularité croissante</option>
					<option value="3">Popularité décroissante</option>
				</select>
			</div>
		</div>
		<div class="option_bar">

			<div class="option_bar3">
				<input type="submit" name="" value="Search">
			</div>
			
		</div>
		
	</form>
    </div>
   
  </div>

	

	<br>
		<hr>
		<section >
		<div class="main-container">
			<ul class="grid-wrapper">
					{% for objet in objects%}
				<li class="content-item">

					<div class="pic">
					    <a href="{{objet.get_detail}}"><img width="100%" src="{{objet.get_image}}"></a>
					    <a href="{{objet.get_detail}}" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href="{{objet.get_detail}}"><h3>{{objet.title}}</h3></a>
					</div>
				</li>
				{% endfor%}

					
			</ul>
			 
		</div>
	</section>


{% endblock%}
{% block js%}
<script type="text/javascript">

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("activee");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
<script type="text/javascript" src="js/script.js"></script>
{%endblock%}