{% extends 'base.html'%}
{% load static%}
{%block title%}WEB RADIO TV{%endblock%}
{%block content%}
<div class="section1">
  		<h1><span>IFRI WEB TV RADIO</span></h1>
	<div>
		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
	</div>
 </div>
 <div class="corp">
 	<div class="left_nav" id="myHeader" >
 	 <ul id="myDIV">
 	 	<a class="btn" href="#video"><li><i class="fa-solid fa-angle-right"></i> Vidéos</li></a>
 	 	<a class="btn" href="#audio"><li><i class="fa-solid fa-angle-right"></i> Audios</li></a>
 	 	<a class="btn" href="#visuel"><li><i class="fa-solid fa-angle-right"></i> Visuels</li></a>
 	 	<a class="btn" href="#"><li><i class="fa-solid fa-angle-right"></i> Emission Tv</li></a>
 	 	<a class="btn" href="#"><li><i class="fa-solid fa-angle-right"></i> Emission Radio</li></a>
 	 	<a class="btn" href="#"><li><i class="fa-solid fa-angle-right"></i> Atelier graphique</li></a>

 	 </ul>
	</div>
	<div class="contenu">
		<div class="block">
			<h3>Information</h3>
			<hr>
			<div class="slideshow-container">

				<div class="mySlides fade">
				  <div class="back_text"></div>
				  <div class="text">
				  	<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  	tempor incididunt ut labore et dolore magna aliqua.</em>
				  	<div class="but"><span>En savoir plus</span></div>
				  </div>
				</div>

				<div class="mySlides fade">
				  <div class="back_text"></div>
				  <div class="text">
				  	<em>Campagne accélérée de vaccination contre la Covid-19 au Bénin : Les leaders d'opinion sensibilisés</em>
				  	<div class="but"><span>En savoir plus</span></div>
				  </div>
				</div>

				<div class="mySlides fade">
				  <div class="back_text"></div>
				  <div class="text">
				  	<em>CORONAVIRUS - Levée des mesures préventives et restrictives : Le Gouvernement pour la relance des activités économiques, culturelles et sociales </em>
				  	<div class="but"><span>En savoir plus</span></div>
				  </div>
				</div>

				</div>
				<br>

				<div style="text-align:center">
				  <span class="dot"></span>
				  <span class="dot"></span>
				  <span class="dot"></span>
				</div>

		</div>
		<br>
		<div class="sub-grid">
			<div class="sub-grid-box stat-box-1">
				<h1><i class="fa-solid fa-users"></i>{{n_inscrit}}</h1>
				<h2>Inscrits</h2>

			</div>
			<div class="sub-grid-box stat-box-2">
				<h1><i class="fa-solid fa-video"></i> {{n_video}}</h1>
				<h2>Vidéos</h2>

			</div>
			<div class="sub-grid-box stat-box-3">
				<h1><i class="fa-solid fa-headphones"></i> {{n_audio}}</h1>
				<h2>Audios</h2>

			</div>
			<div class="sub-grid-box stat-box-4">
				<h1><i class="fa-solid fa-image"></i> {{n_visuel}}</h1>
				<h2>Visuels</h2>

			</div>
		</div>
		<br>
		<h2 id="video" class="separation separation1"><span>Les vidéos</span></h2>
		<section >
		<div class="main-container">
			<ul class="grid-wrapper">

              {% for video in videos%}
				<li class="content-item">
					<div class="pic">
					    <a href="{%url 'detail_video' video.slug%}"><img width="100%" src="{{video.get_image}}"></a>
					    <a href="{%url 'detail_video' video.slug%}" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href="video.html"><h3>{{video.title}}</h3></a>
					</div>
				</li>
				{% endfor%}


			</ul>
			<div style="text-align: center; margin: 10px;">
				<div class="button button1">Toutes les vidéos</div>
			</div>

		</div>
	</section>

	<br>
		<h2 id="audio" class="separation separation2"><span>Les audios</span></h2>
		<section >
		<div class="main-container">
			<ul class="grid-wrapper">
				{% for audio in audios%}
				<li class="content-item">
					<div class="pic">
					    <a href="{% url 'detail_audio' audio.slug %}"><img width="100%" src="img/image2.jpg"></a>
					    <a href="{% url 'detail_audio' audio.slug %}" class="centered"><i class="fa-solid fa-play"></i></a>
					</div>
					<div>
						<a href="#"><h3>{{audio.title}}</h3></a>
					</div>
				</li>
				{% endfor%}


			</ul>
			<div style="text-align: center; margin: 10px;">
				<div class="button button2">Tous les audios</div>
			</div>

		</div>
	</section>
	<br>
		<h2 id="visuel" class="separation separation3"><span>Les visuels</span></h2>
		<section >
		<div class="main-container">
			<ul class="grid-wrapper">
				{% for visuel in visuels%}
				<li class="content-item">
					<div class="">
					    <a href="{% url 'detail_image' visuel.slug %}"><img width="100%" src="{{visuel.visuel.url}}"></a>
					</div>
					<div>
						<a href="{% url 'detail_image' visuel.slug %}"><h3>{{visuel.title}}</h3></a>
					</div>
				</li>
				{% endfor%}


			</ul>
			<div style="text-align: center; margin: 10px;">
				<div class="button button3">Tous les visuels</div>
			</div>

		</div>
	</section>


	</div>

 </div>

{%endblock%}