{% extends 'base.html'%}
{% load static%}
{%block title%}WEB RADIO TV{%endblock%}
 {% block style%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profil.css'%}">
    {% endblock%}
{%block content%}
<div>
  <div class="card">
    <header  class="card_gallery">
        {% if user.image_couverture%}
        <img width="100%" src="{{user.image_couverture.url}}">
        {% endif%}
    </header>
    <main class="card__user">
         {% if user.image%}
      <img src="{{user.image.url}}" alt="" class="card__user-image">
        {% endif%}
      <div class="card__user-info">
        <h2 class="card__user-info__name">{{user.last_name}}  {{user.first_name}} (<strong><a href='{{user.url}}'>{{user.username}}</a></strong>)
        {% if type%}{%if user.student.is_administrator%}<span class="badge text-bg-warning">ADMINISTRATEUR</span>

           {%else%}
<span class="badge text-bg-success">ETUDIANT</span>
            {%endif%}{%else%}
<span class="badge text-bg-primary">VISITEUR</span>
            {%endif%}
        </h2>


          {% if type%}<h5 style="padding-bottom:15px;">{{user.student.bio}}</h5>{%else%}<h5>{{user.visiteur.bio}}</h5>{%endif%}
          <p class="card__user-info__stats"><strong>Email :</strong>{{user.email}}</p>
        <h3 class="card__user-info__desc">Autres informations</h3>
          {% if type%}<p class="card__user-info__stats"><strong>Filiere</strong>: {{user.student.filiere}}</p>{%endif%}
           {% if type%}<p class="card__user-info__stats"><strong>Année</strong>: {{user.student.annee}}</p>{%endif%}
      </div>

      <div id="id01" class="modal">
                <div class="modal-content animate">
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                  </div>
                  <div class="modal-cont">

                  <h2 style="text-align: center;">Modifier profil</h2>
                    <form action="" method="POST">
                      <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">


                      <br>
                      <input class="btn btn-primary" type="submit" name="validate" value="Valider">
                      <button  type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger">Quitter</button>
                  </form>
                  </div>
                </div>
          </div>
    </main>
  </div>
  <div class="card">
    <button class="accordion">Mes posts</button>
    <div class="panel">
          <br>
    <h2 id="video" class="separation separation1"><span>Les vidéos</span></h2>
    <section >
    <div class="main-container">
      <ul class="grid-wrapper">
          {% for video in post_videos%}
        <li class="content-item">
          <div class="pic">
              <a href="{% url 'detail_video' video.slug%}"><img width="100%" src="{{video.get_image}}"></a>
              <a href="{% url 'detail_video' video.slug%}" class="centered"><i class="fa-solid fa-play"></i></a>
          </div>
          <div>
            <a href="video.html"><h3>{{video.title}}</h3></a>
          </div>
        </li>
          {% endfor%}


      </ul>
      <div style="text-align: center; margin: 10px;">
        <div class="button button1">Toutes les vidéos</div>
      </div>

    </div>
  </section>
    </div>


  </div>


 </div>
{% endblock%}
{% block js%}
<script type="text/javascript">

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("activee");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
{%endblock%}