{% extends 'base.html'%}
{% load static%}
{%block title%}WEB RADIO TV{%endblock%}
 {% block style%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profil.css'%}">
    {% endblock%}
{%block content%}
<div>
  <div class="card">
    <header  class="card_gallery">
        {% if user.image_couverture%}
        <img width="100%" src="{{user.image_couverture.url}}">
        {% endif%}
    </header>
    <main class="card__user">
         {% if user.image%}
      <img src="{{user.image.url}}" alt="" class="card__user-image">
        {% endif%}
      <div class="card__user-info">
        <h2 class="card__user-info__name">{{user.last_name}}  {{user.first_name}} (<strong>{{user.username}}</strong>)</h2>
        <p class="card__user-info__stats">{{user.email}}</p>
        <p class="card__user-info__desc">Autres informations</p>
      </div>
      <div class="card__user-actions">
        <button onclick="document.getElementById('id01').style.display='block'"  class="card__user-actions-follow">Modifier mon profil</button>
      </div>
      <div id="id01" class="modal">
                <div class="modal-content animate">
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                  </div>
                  <div class="modal-cont">

                  <h2 style="text-align: center;">Modifier profil</h2>
                    <form action="" method="POST">
                      <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">
                                            <label for="nom" class="form-label">nom</label>
                      <input id="nom" class="form-control" type="text" name="nom" placeholder="Nom">


                      <br>
                      <input class="btn btn-primary" type="submit" name="validate" value="Valider">
                      <button  type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger">Quitter</button>
                  </form>
                  </div>
                </div>
          </div>
    </main>
  </div>
  <div class="card">
    <button class="accordion">Mes posts</button>
    <div class="panel">
          <br>
    <h2 id="video" class="separation separation1"><span>Les vidéos</span></h2>
    <section >
    <div class="main-container">
      <ul class="grid-wrapper">
        <li class="content-item">
          <div class="pic">
              <a href="video.html"><img width="100%" src="https://img.youtube.com/vi/RCivWovB3Kg/mqdefault.jpg"></a>
              <a href="video.html" class="centered"><i class="fa-solid fa-play"></i></a>
          </div>
          <div>
            <a href="video.html"><h3>titre de la vidéo</h3></a>
          </div>
        </li>
        <li class="content-item">
          <div class="pic">
              <a href=""><img width="100%" src="img/image1.jpg"></a>
              <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
          </div>
          <div>
            <a href=""><h3>titre de la vidéo</h3></a>
          </div>
        </li>
        <li class="content-item">
          <div class="pic">
              <a href=""><img width="100%" src="img/image1.jpg"></a>
              <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
          </div>
          <div>
            <a href=""><h3>titre de la vidéo</h3></a>
          </div>
        </li>
        <li class="content-item">
          <div class="pic">
              <a href=""><img width="100%" src="img/image1.jpg"></a>
              <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
          </div>
          <div>
            <a href=""><h3>titre de la vidéo</h3></a>
          </div>
        </li>
        <li class="content-item">
          <div class="pic">
              <a href=""><img width="100%" src="img/image1.jpg"></a>
              <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
          </div>
          <div>
            <a href=""><h3>titre de la vidéo</h3></a>
          </div>
        </li>
        <li class="content-item">
          <div class="pic">
              <a href=""><img width="100%" src="img/image1.jpg"></a>
              <a href="" class="centered"><i class="fa-solid fa-play"></i></a>
          </div>
          <div>
            <a href=""><h3>titre de la vidéo</h3></a>
          </div>
        </li>

      </ul>
      <div style="text-align: center; margin: 10px;">
        <div class="button button1">Toutes les vidéos</div>
      </div>

    </div>
  </section>
    </div>

  </div>

 </div>
{% endblock%}
<script type="text/javascript">

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("activee");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
{% block js%}{%endblock%}