<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="logo">
               <a href="{% url 'home'%}" style="font-weight:bold;">IFRI <span style="color:green;">TV</span></a>
            </div>
            <button type="button" class="nav-toggler">
               <span></span>
            </button>
            <nav class="nav">
               <ul>
                  <li><a href="{% url 'home'%}" class="active">Acceuil</a></li>

                  <li><a href="{% url 'emission_tv'%}">Emission Tv</a></li>
                  <li><a href="{% url 'emission_radio'%}">Emission Radio</a></li>
                  <li><a href="{% url 'atelier_graphique'%}">Atelier graphique</a></li>
                    <li><a href="{% url 'about'%}">A propos</a></li>
                   {% if user.is_authenticated%}
                   <li><a href="{% url 'profile'%}">Mon Profil</a></li>

                  <li> <li><button type="button" class="btn btn-success" style="border:none;background-color:red;padding:5px 8px;"><a href="{% url 'logout'%}">Se déconnecter</a></button></li>
                   {% else%}

                   <li><button type="button" class="btn btn-success" style="border:none;background-color:green;padding:5px 8px;"><a href="{% url 'login'%}">Se Connecter</a></button></li>
                   {%endif%}
               </ul>
            </nav>
        </div>
    </div>
 </header>