html{
		 scroll-behavior: smooth;
}
body{
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
form{
	padding: 15px;
}
.filter label{
	font-size: 1em;
}
.grand_bar input{
	width: 100%;
	height: 2.5em;
	padding: 5px;
}
.option_bar{
	display: flex;

}
.option_bar select{
	height: 2.5em;
	padding: 5px;

}
.option_bar1{
	flex-basis: 33%;
}
.option_bar2{
	flex-basis: 33%;
}
.option_bar3{
	flex-basis: 33%;
}

.option_bar1 select{
	width: 95%;
}
.option_bar2 select{
	width: 95%;
}
.option_bar3 input{
	width: 100%;
	margin-top: 17px;
	height: 2.5em;
	background-color: skyblue;
	border: none;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activee, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.activee:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/*-------- 3.6 Pagination --------*/
.clear:after, .pagination:after, .clear:before, .pagination:before {
  content: "";
  display: table;
}
.clear:after, .pagination:after {
  clear: both;
}

.pagination__wrapper {
  height: 50px;
  padding-top: 20px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
  width: 100%;
  border-top: 1px solid #ededed;
}
.pagination__wrapper.no_border {
  border-top: none;
}
.pagination__wrapper:before {
  top: -1px;
}
.pagination__wrapper:after {
  bottom: -1px;
}

@keyframes hoverAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.pagination {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  display: block;
  float: left;
  padding: 5px;
}
.pagination li:first-child {
  border: none;
}
.pagination a,
.pagination span {
  background: none;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding: 0;
}
.pagination a {
  outline: none;
  position: relative;
  transition: all 170ms linear;
}
.pagination a:before {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  content: "";
  cursor: pointer;
  height: 0;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 170ms linear;
  top: 50%;
  width: 0;
}
.pagination a:hover:not(.active) {
  color: black;
}
.pagination a:hover:not(.active):before {
  animation: hoverAnimation 510ms linear forwards;
  height: 40px;
  width: 40px;
}
.pagination a.active {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  cursor: default;
}
.pagination .prev,
.pagination .next {
  font-size: 14px;
}
