:root{
    --color-1: #2f3240;
    --footer-bg: #1c2444;
	  --color: #f2f3fb;
	  --color-smooth: #9da2ae;
	  --input-border: #3a456a;
	  --btn-bg-color: #f1f2fc;
	  --btn-hover-bg: #d5d9f6;
	  --btn-color: #1e2641;
}
html{
		 scroll-behavior: smooth;
}
body{
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
/*header*/
.header{
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
}

.header .logo,
.header .nav{
	padding:0 15px;
}
.header .logo a{
	font-size: 30px;
	color: #ffffff;
	text-transform: capitalize;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: #f3a93d;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}


.section1{
	background-image: url(../img/image6.jpg);
	/*background-color: #ffffff;*/
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
	height: 50vh;
	margin: auto;
	text-align: center;
}
.section1 h3{
	font-size: 1rem;
	padding: 20px;
	text-align: center;
	margin: auto;
	color: white;
}
.section1 h1 {
	color: white;
	font-size: 3.5em;
	padding-top: 50px;
	margin-bottom: 25px;
}
.section1 h1 span{
	border-bottom: solid 10px white;	
}
.corp{
	display: flex;
	padding: 10px;
	margin: 10px;
}
.left_nav{
	flex-basis: 25%;
}
.contenu{
	flex-basis: 75%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 25%;
}

.sticky + .contenu {
 margin-left: 25%;
}
.left_nav ul{
	margin: 5px;
	padding: 10px;
	background-color: #3bcce4;
}

.left_nav ul li{
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
	font-size: 1.25em;
}

.block{
	margin: 10px;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0 2px 15px 0 rgb(0 0 0 / 10%);
}

/*88888888888888888888888*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.back_text{
	height: 140px;
	background-color: white;
}
.text em{
	font-weight: bold;
}
.text .but{
	margin-top: 10px;
}
.text .but span{
	border:1px solid black;
	padding: 5px;
	border-radius: 3px;

}
.text .but span:hover{
	background-color: #3bcce4;
	padding: 5px;
	border-radius: 3px;
	border:1px solid white;
	color: white;
}


.stat-box-1 {
	grid-area: stat-box-1;
	background-color: #ff4b4b;
}
.stat-box-2 {
	grid-area: stat-box-2;
	background-color: #f7cb2c;
}
.stat-box-3 {
	grid-area: stat-box-3;
	background-color: #4dd94d;
}
.stat-box-4 {
	grid-area: stat-box-4;
	background-color: #6363f5;
}
.sub-grid {
	margin: 10px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-areas:
		"stat-box-1 stat-box-2"
		"stat-box-3 stat-box-4";
	grid-gap: 1rem;
}
/* Media query for the nested grid container */
@media only screen and (min-width: 800px) {
	.sub-grid {
		grid-template-columns: repeat(4,1fr);
		grid-template-areas:
			"stat-box-1 stat-box-2 stat-box-3 stat-box-4";
	}
}
/* Styles for the sub-grid items */
.sub-grid-box {
	text-align: center;
	padding: .5rem;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 2px 15px 0 rgb(0 0 0 / 10%);
}

.separation {
 width:100%;
 text-align:center; 
 line-height:0.1em; 
 margin:10px 0 20px;
 font-weight: 1000;
 text-transform: uppercase;

}
.separation span {
 background:#fff; 
 padding:0 10px; 
}
.separation1 {
	color: #f7cb2c;
 border-bottom: 3px solid #f7cb2c; 
}
.separation2 {
	color: #4dd94d;
 border-bottom: 3px solid #4dd94d; 
}
.separation3 {
	color: #6363f5;
 border-bottom: 3px solid #6363f5; 
}

.grid-wrapper{
			--auto-grid-min-size: 16rem;
			display: grid;
			grid-gap: 2rem;
			grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
			margin: 0;
			padding: 0;
			box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;

		}
		.grid-wrapper li{
			
			list-style-type: none;
			padding: 5px;
			text-align: center;
      		font-weight: 600;
		}
		.main-container{
			margin: 0 auto;
			max-width: 1170px;
			padding:2rem 1rem;
		}




/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activa {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*77777777777777777777777*/

.content-item {
  position: relative;
}

.content-item .pic a{
	height: 200px;
  overflow: hidden;
  display: block;
  opacity: 0.9;
}

.content-item .pic img {
  transition: 300ms;
}

.content-item:hover .pic img {
  transform: scale(1.3);
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.centered i{
	font-size: 4rem;
	color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #f7cb2c;
}

.button1:hover {
  background-color: #f7cb2c;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #4dd94d;
}

.button2:hover {
  background-color: #4dd94d;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #6363f5;
}

.button3:hover {
  background-color: #6363f5;
  color: white;
}



@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }
}
@media(max-width:991px){
	.corp{
		display: block;
	}
	.sticky {
	  position: relative;
	  top: 0;
	  width: 100%;
	}

	.sticky + .contenu {
	 margin-left: 0;
	}
}



footer {
  font-size: 16px;
  background: var(--footer-bg);
  padding: 2em 4em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
  font-family: "IBM Plex Sans", sans-serif;
}

footer ul {
  list-style: none;
}

.col {
  flex: 1;
}

.col-title {
  font-family: "Merriweather", serif;
  color: var(--color);
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 0;
}

.col-list a {
  color: var(--color-smooth);
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.subscribe-form,
.social-media {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0;
}

.subscribe-input {
  width: auto;
  flex: 1;
  background: transparent;
  border: 0.06em solid var(--input-border);
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--color-smooth);
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--color);
  color: var(--color);
}

.subscribe-btn {
  background: var(--btn-bg-color);
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--btn-color);
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: var(--btn-hover-bg);
}

.form-title,
.social-col-title {
  font-size: 1em;
  color: var(--color);
  font-weight: 500;
}

.social-media {
  flex-direction: column;
}

.social-media-list {
  display: flex;
  gap: 0.5rem;
}

.social-media-list a {
  padding: 0.5em;
  color: var(--color-smooth);
  display: flex;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: var(--color);
  background: #ffffff1a;
}

.social-media-list svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.25s ease 0s;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 2em;
    flex-direction: column;
  }
}
@media screen and (max-width: 537px) {
	.section1{
		height: 30vh;
	}
	.section1 h1 {
		color: white;
		font-size: 2em;
		padding-top: 50px;
		margin-bottom: 25px;
	}
}




