{% load static%}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="[noindex,nofollow]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio tv IFRI| Login </title>
    <!-- fav icon-->
    <link rel="icon" href="{% static 'img/browser-logo.png'%}" type="image/x-icon">
    <!-- bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- font css-->
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css'%}">
    <!-- form page css-->
    <link rel="stylesheet" href="{% static 'css/form-page.css'%}">
  </head>
  <body> 
    <!-- ======= TMB Loader Start =======-->
    <div id="tmbLoader"> </div>
    <!-- ======= TMB Loader End =======-->
    <!-- Login main Start-->
    <div class="form-page-header"> 
      <div class="container">
        <nav class="navbar py-3 navbar-expand-lg d-flex justify-content-between"><a class="navbar-brand" href="index.html">
            <!-- header logo -->
            <svg class="header-logo" xmlns="http://www.w3.org/2000/svg" width="128" height="39" viewBox="0 0 128 39">
              <g transform="translate(0 8)">
                <circle cx="14" cy="14" r="14" fill="#211ec9"></circle>
                <path d="M8.124,0a8.124,8.124,0,0,1,8.124,8.124c0,2.167,4.182,7.153,4.182,7.153s-9.986.971-12.306.971A8.124,8.124,0,0,1,8.124,0Z" transform="translate(5.57 6)" fill="#fff"></path>
                <text transform="translate(34 21)" font-size="28" font-family="Poppins-Medium, Poppins" font-weight="500" letter-spacing="0.03em">
                  <tspan x="0" y="0">Radio tv | Connexion </tspan>
                </text>
              </g>
            </svg></a>
          <div class="d-flex align-items-center"><span class="nav-link p-0 d-none d-sm-block">Avez-vous un compte?</span>
            <!-- header register button--><a class="btn btn-primary ms-4" href="{% url 'register'%}">Creer un compte?</a>
          </div>
        </nav>
      </div>
    </div>
    <section class="form-page login-form-page">
      <div class="login-form-page-content d-flex">
        <div class="form-page-left form-page-half text-center">
          <div class="form-page-left-img"><img src="{% static 'img/form-image.png'%}" alt="Image Description"></div>
          <div class="form-page-left-content mt-4">    
            <h2 class="banner-heading text-white mb-3">Découvrez la radio Tv de IFRI</h2>
            <p class="banner-brief text-white">Etre a l'actu</p>
          </div>
        </div>
        <div class="form-page-right form-page-half">
          <div class="form-page-right-content"> 
            <h2 class="sec-heading">Hello ! Bienvenue.</h2>
            <p class="sec-brief">Connectes toi durant de ton enregistrement</p>
            <form class="login-form mt-5" method="post">
               {% if messages %}
                        <div>
                            <ul class="messages">
                                {% for message in messages%}
                                <li style="color:red;" {% if message.tags%} class="{{message.tags}}"{% endif%}>{{message}}</li>
                                {% endfor%}
                            </ul>
                        </div>
                        {% endif%}
              {% csrf_token %}
              <div class="form-group">
                <label class="form-label text-primary" for="exampleFormControlInput1">Votre adresse email</label>
                <input class="form-control" id="exampleFormControlInput1" name="email" type="email" placeholder="Example@gmail.com" required>
              </div>
              <div class="form-group mt-4"> 
                <div class="d-flex justify-content-between">
                  <label class="form-label text-primary d-flex" for="inputPassword5">Mot de passe</label>
                  <button class="forgot-password">Mot de passe oublié</button>
                </div>
                <div class="password-wrap position-relative">
                  <input class="form-control pe-5" id="inputPassword5" name="password" type="password" placeholder="Enter password" required>
                  <button id="showPassword" type="button"></button>
                </div>
              </div>
              <button class="btn btn-primary w-100 mt-5 submit-btn" type="submit">Start now !</button>
            </form>


            
            <span class="card-text mt-5 d-block">Avez-vous un compte? <a class="text-focus" href="{% url 'register'%}"> Connectez-vous?</a></span>
          </div>
        </div>
      </div>
    </section>
    <script src="js/form-page.js" defer> </script>
    <!-- Login main End-->
  </body>
</html>