
{% extends "base_account.html" %}
{% load socialaccount %}

{% providers_media_js %}


{% load static%}
{%block title%}LOGIN{%endblock%}
{% block content%}

    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="{% static 'accounts/images/logo-light.svg'%}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'accounts/images/graphic2.svg'%}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>RADIO Website IFRI.</h3>
                        <p>Bienvenue sur ma page LOGIN</p>
                        <div class="page-links">
                        <a href="{% url 'login'%}" class="active">Login</a><a href="{% url 'register'%}" >Register</a>
                        </div>
                        {% if messages %}
                        <div>
                            <ul class="messages">
                                {% for message in messages%}
                                <li {% if message.tags%} class="{{message.tags}}"{% endif%}>{{message}}</li>
                                {% endfor%}
                            </ul>
                        </div>
                        {% endif%}
                        <form method="post">
                            {% csrf_token %}
                            <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="{% url 'reset_password' %}">Forget password?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or login with</span><a href="{% provider_login_url 'facebook' method='oauth2'%}">Facebook</a><a href="{% provider_login_url 'google' %}">Google</a><a href="#">Linkedin</a><a href="#">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock%}