{% extends 'base_account.html'%}
{% load static%}
{% block content%}
    <div class="form-body on-top-mobile">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="{% static 'accounts/images/logo-light.svg'%}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder simple-info">
                    <div><img src="{% static 'accounts/images/graphic6.svg'%}" alt=""></div>
                    <div><h3>Bienvenue , <strong>{{user.pseudo}} </strong></h3></div>
                    <div><p>Encore quelques instants...<br>Il est temps de compléter ton profil</p></div>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if type%}
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <input type="text" name="matricule" class="form-control" placeholder="Ton matricule">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select type="text" name="filiere" class="form-control" placeholder="Ta filière">
                                        <option value="IM">IM</option>
                                        <option value="IM">SI</option>
                                        <option value="IM">GL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 pb-2">
                                    <select type="text" name="annee" class="form-control" placeholder="Année">
                                        <option value="L1">Licence 1</option>
                                        <option value="L2">Licence 2</option>
                                        <option value="L3">Licence 3</option>
                                        <option value="M1">Master 1</option>
                                        <option value="M2">Master 2</option>
                                        <option value="D">Diplomé</option>

                                    </select>
                                </div>


                            </div>
                            {% endif%}
                            <div class="row">
                                <div class="col-12">
                                    <textarea name="bio" class="form-control" placeholder="Parles moi un peu de toi.."></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <div class="custom-file">
                                        <input type="file" accept="image/*" name="profil" class="custom-file-input" id="id_profil">
                                        <label class="custom-file-label" for="id_profil">Photo de profile</label>
                                    </div>
                                </div>

                            </div>


                            <div class="row top-padding">

                                <div class="col-12 col-sm-6">
                                    <div class="form-button text-right">
                                        <button id="submit" type="submit" class="ibtn less-padding">Soumettre</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}